{% extends 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
    <h1>Langues</h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('funkylab_home') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li>Systeme</li>
        <li class="active">Langues</li>
    </ol>
{% endblock %}

{% block content %}

{% endblock %}