{% extends 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block content -%}

    <div class="box-body table-responsive no-padding">

        <table id="table_admin" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Comment</th>
                    <th>Usefull</th>
                    <th class="action"></th>
                </tr>
            </thead>

        </table>
    </div>

{% endblock %}

{% block js %}
<script>
    $('document').ready(function()
    {
        table = $('#table_admin').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": Routing.generate('admin_blogcomment_list', {'blog_id' : '{{ blog_id }}' }),
            "aoColumns": [
                { "sName": "id" },
                { "sName": "comment" },
                { "sName": "usefull" },
                { "sName": "action" }
            ],
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                'bSortable': false, 'aTargets': [ 1 ],
                "defaultContent": '<div class="btn-group pull-right"><a class="btn btn-info btn-sm btn-edit" href="#" data-toggle="modal" data-url=""><i class="fa fa-edit"></i> Edit</a><a class="btn btn-danger btn-sm btn-delete-action" href="#"><i class="fa fa-times-circle"></i> Delete</a></div>'
            }],
            "oLanguage": {
                "sProcessing": "<img src='/bundles/tigreboitefunkylab/images/ajax-loader.gif'>"
            },
            "fnDrawCallback": function( oSettings ) {
              updateModalBtn();
            },
            "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                var url_update = Routing.generate('admin_blogcomment_edit', {id:aData[aData.length-1]});
                $(nRow).find('td:last .btn-edit').attr('data-url', url_update);

                num_col_usefull = 2;
                if(aData[num_col_usefull] != ""){
                    usefull = aData[num_col_usefull].split(',');
                    total = usefull.length

                    sum_usefull = usefull.reduce(function(previousValue, currentValue, index, array) {
                      return parseInt(previousValue) + parseInt (currentValue);
                    });

                    avg = Math.round(sum_usefull / total * 100) + " %"

                    $('td:eq('+num_col_usefull+')', nRow).html( avg );
                }

            },
        });

        // Remove btn
        $('#table_admin tbody').on( 'click', '.btn-delete-action', function (e) {
            e.preventDefault();
            var data = table.row( $(this).parents('tr') ).data();
            var id_line = data[data.length-1];

            $.confirm({
                text: "Are you sure you want to delete ?",
                confirm: function(button) {
                    $.ajax({
                        type: "DELETE",
                        url: Routing.generate('admin_blogcomment_delete', {id:id_line}),
                        success: function(msg){
                            table.draw();
                        }
                    });
                },
                cancel: function(button) {
                    // do something
                }
            });

        });
    });
</script>
{% endblock %}
