{% extends 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumb %}
    <h1>
        Empty
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Empty</li>
    </ol>
{% endblock %}

{% block content %}
    test
{% endblock %}
