{% extends 'CyrilPereiraFunkylabBundle::layout.html.twig' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4">
            <a href="events.html" class="btn btn-info">Events</a><br /><br />
            <a href="competitions.html" class="btn btn-info">Competitions</a><br /><br />
            <a href="organisations.html" class="btn btn-info">Organisations</a><br /><br />
        </div>

        <div class="col-xs-4">
            <a href="matchs.html" class="btn btn-info">Matchs</a><br /><br />
            <a href="teams.html" class="btn btn-info">Teams</a><br /><br />
            <a href="players.html" class="btn btn-info">Players</a><br /><br />
        </div>
        <div class="col-xs-4">
            <a href="users.html" class="btn btn-info">Users</a><br /><br />
        </div>
    </div>
{% endblock %}