{% extends ajax
? 'TigreboiteFunkylabBundle::popin.html.twig'
: 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block content -%}

<div class="modal-body">
    <div class="row">
        <h3>confirmation :
        {% if statut==1 %}
            Validé
        {% else %}
            Archivé
        {% endif %}
        </h3>
    </div>
</div>
{% endblock %}

{% block callback_popin %}
<script type="text/javascript">
    table.draw();
    setTimeout(function()
    {
        $('#modal-ajax').modal('hide');
    }, 1200);
</script>

{% endblock %}