{% extends 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block action %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
     <a class="btn btn-default btn-lg" href="#" data-toggle="modal" data-url="{{ path('admin_user_new') }}">
        <i class="fa fa-plus"></i> Add user
    </a>

    {% endif %}
{% endblock %}

{% block content -%}

    <div class="box-body table-responsive no-padding">

        <table id="table_admin" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>Lastname</th>
                    <th>Firstname</th>
                    <th>Email</th>
                    <th>Slug</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th class="action"></th>
                </tr>
            </thead>

        </table>
    </div>

{% endblock %}

{% block js %}
<script>
    $('document').ready(function()
    {
        table = $('#table_admin').DataTable( {
            "processing": true,
            "serverSide": true,
            "autoWidth":true,
            "ajax": Routing.generate('admin_user_list'),
            "aoColumns": [    
                { "sName": "id" },
                { "sName": "lastname" },
                { "sName": "firstname" },
                { "sName": "email" },
                { "sName": "slug" },
                { "sName": "createdAt" },
                { "sName": "updatedAt" },
                { "sName": "_action" }
            ],
            "columnDefs": [ {
                "targets": -1,
                "data": null,
                'bSortable': false, 'aTargets': [ 1 ]
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                ,"defaultContent": '<div class="btn-group pull-right">' +
                '<a class="btn btn-info btn-sm btn-edit" href="#" data-toggle="modal" data-url=""><i class="fa fa-edit"></i> Edit</a>' +
                '<a class="btn btn-danger btn-sm btn-remove" href="#"><i class="fa fa-archive"></i> Delete</a>' +
                '</div>'
                {% endif %}
            }],
            "oLanguage": {
                "sProcessing": "<img src='{{  asset('bundles/tigreboitefunkylab/images/ajax-loader.gif') }}' />"
            },
            "fnDrawCallback": function( oSettings ) {
              updateModalBtn();
            },
            "fnCreatedRow": function( nRow, aData, iDataIndex ) {
                var url_update = Routing.generate('admin_user_edit', {id:aData[aData.length-1]});
                $(nRow).find('td:last .btn-edit').attr('data-url', url_update);

                var url_delete = Routing.generate('admin_user_delete', {id:aData[aData.length-1]});
                $(nRow).find('td:last .btn-remove').attr('data-url', url_delete);
            }
        });

    });
</script>
{% endblock %}
