{% extends ajax
? 'TigreboiteFunkylabBundle::popin.html.twig'
: 'TigreboiteFunkylabBundle::layout.html.twig' %}

{% block content -%}

    <div class="modal-body">
        <div class="row">
            <form>
                <p>Demande de CGU relancée</p>
                <p>{{ user|length }} utilisateurs mis à jour</p>
                <button class="btn btn-success btn-lg"><i class="fa fa-check"></i> Fermer</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block callback_popin %}
{% endblock %}